<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsDefault"
    aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">Todo List</a>

    <div class="collapse navbar-collapse" id="navbarsDefault" [ngbCollapse]="!isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngFor="let item of items">
          <a class="nav-link" routerLink="/{{item.link}}" routerLinkActive="active">{{item.name}}</a>
        </li>
      </ul>
    </div>
</nav>